
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  background-color: white;
  position: sticky;
  padding: 0 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav .logo img {
  height: 48px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

nav ul li {
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
  padding-top: 72px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero h1 {
  font-weight: 800;
  line-height: 1.2;
  font-size: 4rem;
}

.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.hero-btn {
  display: flex;
  gap: 40px;
}

.hero-btn button {
  font-size: 24px;
}

.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons {
  display: flex;
  gap: 26px;
  margin-bottom: 60px;
}



.hero-image img {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 16px 0;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    max-width: none;
  }

  .hero-image img {
    max-width: 100%;
  }
}
